services:
  - type: web
    name: donasikita
    env: docker
    plan: free
    region: singapore
    dockerfilePath: ./Dockerfile
    disk:
      name: data
      mountPath: /var/data
      sizeGB: 1
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: sqlite
      - key: DB_DATABASE
        value: /var/data/database.sqlite
      - key: MIDTRANS_IS_PRODUCTION
        value: "false"
